/*----------------------- header -------------------------*/

/*----------------------- hero -------------------------*/

/* -------------- features ------------------------- */

/*----------------------- work-------------------------*/

/*----------------------- our team -------------------------*/

/*----------------------- footer -------------------------*/

/*----------------------- portfolio -------------------------*/

/* -----------------backdrop----------------- */

/* .check-text::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 3px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input-check:checked + .check-text::before {
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
} */
